<nav>
  <img src="../../assets/Logo.png" alt="logo" />
  <div class="search">
    <input type="text" placeholder="Search products" />
    <label for="">Search</label>
  </div>
  <div class="lists">
    <li class="name"><i class="fa-regular fa-user"></i> Birgen</li>
    <li class="shop">Shop</li>
    <li class="cart">Cart</li>
    <li class="logout"><i class="fa-solid fa-power-off"></i> LOGOUT</li>
  </div>
</nav>
<hr />
<section>
  <div class="display">
    <div class="categories">
      <h1>CATEGORIES</h1>
      <hr />
      <li>Electronics</li>
      <li><i class="fa-solid fa-shirt"></i> Apparels & Accessories</li>
      <li>Health & Beauty</li>
      <li><i class="fa-solid fa-couch"></i> Furniture</li>
      <li><i class="fa-solid fa-kitchen-set"></i> Kitchen Appliances</li>
    </div>
    <div class="caroussel">
      <li class="slides">
        <img src="../../assets/Deals 2.jpeg" alt="" />
      </li>

      <li class="slides">
        <img src="../../assets/Deals.jpeg" alt="" />
      </li>

      <li class="slides">
        <img src="../../assets/Deals 3.jpeg" alt="" />
      </li>

      <li class="slides">
        <img src="../../assets/Deals 4.jpeg" alt="" />
      </li>
    </div>
  </div>
  
  <h1 class="h1" style="text-align: center">CATEGORIES</h1>
  <div class="main">
    <!-- categories -->
    <div class="cards">
      <h2>Electronics</h2>
      <hr />
      <img src="../../assets/Electronics.jpg" alt="" />
      <button routerLink="product">Shop Now</button>
    </div>

    <!-- accessories -->
    <div class="cards">
      <h2>Apparel& Accessories</h2>
      <hr />
      <img src="../../assets/Fashion.jpg" alt="" />
      <button>Shop Now</button>
    </div>

    <!-- Beauty -->
    <div class="cards">
      <h2>Health& Beauty</h2>
      <hr />
      <img src="../../assets/Health&Beauty.jpg" alt="" />
      <button>Shop Now</button>
    </div>

    <!-- Furniture -->
    <div class="cards">
      <h2>Furniture</h2>
      <hr />
      <img src="../../assets/Furniture.jpg" alt="" />
      <button>Shop Now</button>
    </div>

    <!-- KITCHEN -->
    <div class="cards">
      <h2>Kitchen Appliances</h2>
      <hr />
      <img src="../../assets/Kitchen-Appliances.jpg" alt="" />
      <button>Shop Now</button>
    </div>
  </div>
</section>
<app-footer></app-footer>
