nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
img {
  width: 100px;
}
.lists {
  display: flex;
  list-style: none;
  gap: 30px;
}
.lists > li {
  font-size: 20px;
  font-weight: bold;
}
.search > input {
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: none;
  width: 30vw;
  background-color: #d9d9d9;
}
.search > label {
  background-color: #eebd0a;
  padding: 10px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
}
.categories > li {
  font-size: 20px;
}
.categories > li:hover {
  color: #eebd0a;
  text-decoration: underline;
  cursor: pointer;
}
.logout {
  color: red;
}
.display {
  display: flex;
  gap: 30px;
  padding: 30px;
  justify-content: space-around;
  font-size: 15px;
}
.categories {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  list-style: none;
}
.photo > img {
  width: 70vw;
  height: 50vh;
  object-fit: cover;
  border-radius: 10px;
}
.categories > li {
  display: flex;
  margin-top: 30px;
}
.categories > h1 {
  align-self: center;
}
.main {
  display: flex;
  padding: 40px;
  justify-content: space-around;
  /* gap: 10px; */
  flex-wrap: wrap;
}
.cards {
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  gap: 10px;
  padding: 20px;
  margin: 1%;
  border-radius: 10px;
}
.cards > img {
  width: 15vw;
  height: 30vh;
  object-fit: cover;
  /* border: 2px solid blue; */
  border-radius: 10px;
}
.cards > button {
  align-self: center;
  width: 10vw;
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  background-color: #eebd0a;
  color: white;
}
.caroussel {
  width: 700px; 
  /* height: 200px;  */
  overflow: hidden; 
  position: relative;
}

.caroussel-inner {
  white-space: nowrap; 
  position: relative;
  transition: transform 0.5s ease; 
  overflow: hidden;
}

.caroussel-inner > img {
  width: 60vw;
  height: 30vh;
  object-fit: cover;
  vertical-align: top;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.prev {
  left: 30px;
}

.next {
  right: 5px;
}
