<app-navbar></app-navbar>
<section>
  <div class="products">
    <h1>{{ Categoryname }}</h1>
    <div class="item" *ngFor="let product of productsArr">
      <div class="cards">
        <h2>{{ product.productname }}</h2>
        <img src="{{ product.image }}" alt="" />
        <p>{{ product.price }}</p>
        <button
          class="view-product-btn"
          [routerLink]="['/product', product.product_id]"
        >
          View Product
        </button>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
