
<app-navbar></app-navbar>
<section>
   
<div class="products">
    <h1>Electronics</h1>
    <div class="item">
    <div class="cards" routerLink="/product">
        <h2>Electric Kettle- 2200w</h2>
        <img src="../../../assets/Kettle.jpg" alt="">
        <p>Kshs 2200</p>
      </div>

       <div class="cards">
        <h2>Electric Kettle- 2200w</h2>
        <img src="../../../assets/Kettle.jpg" alt="">
        <p>Kshs 2200</p>
      </div>

       <div class="cards">
        <h2>Electric Kettle- 2200w</h2>
        <img src="../../../assets/Kettle.jpg" alt="">
        <p>Kshs 2200</p>
      </div>

       <div class="cards">
        <h2>Electric Kettle- 2200w</h2>
        <img src="../../../assets/Kettle.jpg" alt="">
        <p>Kshs 2200</p>
      </div>


       <div class="cards">
        <h2>Electric Kettle- 2200w</h2>
        <img src="../../../assets/Kettle.jpg" alt="">
        <p>Kshs 2200</p>
      </div>

       <div class="cards">
        <h2>Electric Kettle- 2200w</h2>
        <img src="../../../assets/Kettle.jpg" alt="">
        <p>Kshs 2200</p>
      </div>

</div>
</div>
</section>
<app-footer></app-footer>