<app-navbar> </app-navbar>
<section>
  <div class="product">
    <div class="pics">
      <div class="mainpic">
        <img src="../../assets/Kettle.jpg" alt="" />
      </div>
    </div>
    <div class="description">
      <h1>Electric Kettle- 2200w</h1>
      <ul>
        <li>Flat heating element for fast boiling</li>
        <li>Micro-mesh filter captures tiny limescale particles</li>
        <li>Multi safety system against boil-dry</li>
        <li>Pilot light indicates when the kettle is switched on</li>
        <li>Easy-to-read water level indicator</li>
        <li>A cup indicator to boil only the water you need</li>
        <li>Spring lid with large opening for cleaning</li>
        <li>Easy refilling through lid or spout</li>
        <li>Cordless kettle with 360° pirouette base</li>
        <li>Cord winder for easy adjustment and storage</li>
        <p>Warranty: 12 months</p>
      </ul>
      <button routerLink="/cart">Add to cart</button>
    </div>
  </div>
  <div class="similar">
      <h1>Similar Products</h1>
      <div class="cards">
        <h2>Electric Kettle- 2200w</h2>
        <img src="../../../assets/Kettle.jpg" alt="">
        <p>Kshs 2200</p>
        <button>Shop Now</button>
      </div>
    </div>
</section>
<app-footer></app-footer>
