<div class="register">
  <div class="successmsg" *ngIf="visible2">
    {{ sucessMsg }}
  </div>
  <form
    [formGroup]="updateProductForm"
    (ngSubmit)="updateProduct()"
    class="form-container"
  >
    <h1 style="text-align: center">Update Product</h1>
    <div class="form-group">
      <label class="label">Product Name:</label>
      <input type="text" formControlName="productname" class="input" />
      <div
        *ngIf="
          updateProductForm.get('productname')?.invalid &&
          updateProductForm.get('productname')?.touched
        "
        class="error-message"
      >
        Product Name is required
      </div>
    </div>

    <div class="form-group">
      <label class="label">CategoryId:</label>
      <input type="text" formControlName="category_id" class="input" />
      <div
        *ngIf="
          updateProductForm.get('category_id')?.invalid &&
          updateProductForm.get('category_id')?.touched
        "
        class="error-message"
      >
        Category Id is required
      </div>
    </div>

    <div class="form-group">
      <label class="label">Quantity:</label>
      <input type="text" formControlName="quantity" class="input" />
      <div
        *ngIf="
          updateProductForm.get('quantity')?.invalid &&
          updateProductForm.get('quantity')?.touched
        "
        class="error-message"
      >
        Quantity is required
      </div>
    </div>

    <div class="form-group">
      <label class="label">Description:</label>
      <input type="text" formControlName="description" class="input" />
      <div
        *ngIf="
          updateProductForm.get('description')?.invalid &&
          updateProductForm.get('description')?.touched
        "
        class="error-message"
      >
        Description is required
      </div>
    </div>

    <div class="form-group">
      <label class="label">Price:</label>
      <input type="text" formControlName="price" class="input" />
      <div
        *ngIf="
          updateProductForm.get('price')?.invalid &&
          updateProductForm.get('price')?.touched
        "
        class="error-message"
      >
        Price is required
      </div>
    </div>

    <div class="image-upload-section">
      <label for="categoryImage">Category Image</label>
      <div id="drop-area" (click)="fileInput.click()">
        <i
          class="fa-solid fa-image"
          style="color: rgb(255, 174, 0); font-size: 6rem"
        ></i>
        <p>Drop an image here or browse</p>
      </div>
      <input
        type="file"
        #fileInput
        id="fileInput"
        name="image"
        accept="image/*"
        required
        (change)="uploadImage($event)"
      />
    </div>
    <div class="form-group flex items-center justify-between">
      <input type="submit" class="submit-button" value="Update" />
    </div>
  </form>
</div>
