<app-navbar> </app-navbar>
<hr />
<section>
  <div class="display">
    <div class="categories" style="overflow-y: scroll; height: 40%">
      <h1>CATEGORIES</h1>
      <hr />
      <li *ngFor="let category of categoriesArr">
        <i class="fa-solid fa-couch"></i>{{ category.categoryname }}
      </li>
      <!-- <li><i class="fa-solid fa-shirt"></i> Apparels & Accessories</li>
      <li>Health & Beauty</li>
      <li><i class="fa-solid fa-couch"></i> Furniture</li>
      <li><i class="fa-solid fa-kitchen-set"></i> Kitchen Appliances</li> -->
    </div>
    <div class="caroussel">
      <div class="caroussel-inner" #carousselInner>
        <img src="../../assets/Deals 2.jpeg" alt="This is an image" />
        <img src="../../assets/Deals.jpeg" alt="This is an image" />
        <img src="../../assets/Deals 3 .jpeg" alt="This is an image" />
        <img src="../../assets/Deals 4.jpeg" alt="This is an image" />
      </div>
      <button class="prev" (click)="prevSlide()">&#8656;</button>
      <button class="next" (click)="nextSlide()">&#8658;</button>
    </div>
  </div>

  <h1 class="h1" style="text-align: center">CATEGORIES</h1>
  <div class="main">
    <div class="cards" *ngFor="let category of paginatedArr">
      <h2>{{ category.categoryname }}</h2>
      <hr />
      <img src="{{ category.image }}" />
      <button routerLink="/shop/{{ category.category_id }}">Shop Now</button>
    </div>
  </div>
  <div class="pagination-controls">
    <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
      << Prev
    </button>

    <button
      (click)="goToPage(currentPage + 1)"
      [disabled]="currentPage === maxPage()"
    >
      Next >>
    </button>
  </div>
  <div class="pageno">Page {{ currentPage }} / {{ maxPage() }}</div>
</section>
<app-footer></app-footer>
