nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
img {
  width: 100px;
}
.lists {
  display: flex;
  list-style: none;
  gap: 30px;
}
.lists > li {
  font-size: 20px;
  font-weight: bold;
}
.search > input {
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: none;
  width: 30vw;
  background-color: #d9d9d9;
}
.search > label {
  background-color: #eebd0a;
  padding: 10px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
}
.categories > li {
  font-size: 20px;
  display: flex;
  gap: 5px;
}
.categories > li:hover {
  color: #eebd0a;
  cursor: pointer;
}
.logout {
  color: red;
}
.display {
  display: flex;
  gap: 30px;
  padding: 30px;
  justify-content: space-around;
  font-size: 15px;
}
.categories {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  list-style: none;
  height: 45vh;
  overflow-y: scroll;
}
.photo > img {
  width: 70vw;
  height: 50vh;
  object-fit: cover;
  border-radius: 10px;
}
.categories > li {
  display: flex;
  margin-top: 30px;
}
.categories > h1 {
  align-self: center;
}
.main {
  display: flex;
  padding: 40px;
  justify-content: space-around;
  overflow-x: visible;
  overflow: hidden;
  flex-wrap: wrap;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #d9d9d9;
  gap: 10px;
  padding: 20px;
  margin: 1%;
  border-radius: 10px;
}
.cards > img {
  width: 15vw;
  height: 30vh;
  object-fit: cover;
  border-radius: 10px;
  align-self: center;
}
.cards > button {
  align-self: center;
  width: 10vw;
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  background-color: #eebd0a;
  color: white;
}
.caroussel {
  width: 700px;
  overflow: hidden;
  position: relative;
  display: inline-flex;
}

.caroussel-inner {
  white-space: nowrap;
  position: relative;
  transition: transform 0.5s ease;
  animation: 10s slide infinite linear;
}

.caroussel-inner > img {
  width: 60vw;
  height: 50vh;
  object-fit: cover;
  vertical-align: top;
  border-radius: 10px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.prev {
  left: 15px;
}

.next {
  right: 5px;
}
@keyframes caroussel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@media (max-width: 800px) {
  section {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .display {
    gap: 20px;
    flex-wrap: wrap;
  }
  .categories > li {
    font-size: 15px;
  }
  .caroussel {
    width: 60vw;
  }
  .main {
    flex-wrap: wrap;
  }
  .cards {
    gap: 5px;
    border-radius: 5px;
    align-items: center;
    padding: 10px;
  }
  .cards > h2 {
    font-size: 15px;
  }
  .cards > img {
    width: 80%;
    height: 50%;
  }
  .cards > button {
    width: 20vw;
  }
  .main {
    flex-wrap: wrap;
  }
}
