<nav>
  <img src="../../assets/Logo.png" alt="logo" />
  <div class="search">
    <input type="text" placeholder="Search products" />
    <label for="">Search</label>
  </div>
  <div class="Lists">
    <li class="name" routerLink="/profile/{{ id }}">
      <i class="fa-regular fa-user"></i>{{ name }}
    </li>
    <li class="shop" routerLink="/home">Home</li>
    <li class="cart" routerLink="/cart">Cart</li>
    <li class="logout" (click)="logout()">
      <i class="fa-solid fa-power-off"></i>LOGOUT
    </li>
  </div>
</nav>
<hr />
