nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
img {
  width: 100px;
  /* border: 2px solid blue; */
}
.Lists {
  display: flex;
  list-style: none;
  gap: 30px;
  cursor: pointer;
  font-weight: bold;
}
.search > input {
  padding: 12px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: none;
  width: 30vw;
  background-color: #d9d9d9;
}
.search > label {
  background-color: #eebd0a;
  padding: 12px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
}
li {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.name:hover,
.shop:hover,
.cart:hover,
.order:hover {
  color: #eebd0a;
  text-decoration: underline;
  cursor: pointer;
}
.logout:hover {
  color: red;
}

@media (max-width: 800px) {
  nav {
    flex-direction: row;
    align-items: center;
  }

  .Lists {
    align-items: center;
    gap: 10px;
    flex-direction: row;
  }

  .search {
    visibility: hidden;
  }

  .search > input {
    width: calc(
      10% - 20px
    ); /* Adjusted to accommodate label width and padding */
  }

  .search > label {
    border-radius: 5px;
    margin-left: 0;
    margin-top: 10px;
    /* width: 30px; Adjusted width for label */
  }

  img {
    width: 30px;
  }

  .Lists > li {
    display: flex;
    font-size: 12px;
  }
}
