<div class="container mt-3">
  <button class="addbtn" routerLink="/admin/createCategory">
    Add Category
  </button>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Category Number:</th>
        <th>Category Name:</th>
        <th>Image Image</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categoriesArr; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ category.categoryname }}</td>
        <td>
          <img
            src="{{ category.image }}"
            alt="{{ category.categoryname }}"
            class="product-image"
          />
        </td>

        <td class="actions">
          <button
            class="btnEdit"
            routerLink="/admin/updatecategory/{{ category.category_id }}"
          >
            <i
              class="fa-solid fa-pen-to-square"
              style="color: rgb(255, 187, 0)"
            ></i>
          </button>
          <button
            class="btnDelete"
            (click)="deleteCategory(category.category_id)"
          >
            <i class="fa-solid fa-trash" style="color: rgb(255, 0, 0)"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
