<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <style>
      body {
        font-family: "Arial", sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
        color: #333;
      }
      table {
        width: 100%;
        max-width: 600px;
        margin: auto;
        background-color: #ffffff;
        border-collapse: collapse;
      }
      th {
        background-color: #007bff;
        color: #ffffff;
        padding: 10px;
        text-align: center;
      }
      td {
        padding: 20px;
        text-align: left;
      }
      img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: auto;
      }
      p {
        line-height: 1.6;
      }
      @media screen and (max-width: 600px) {
        body,
        table {
          padding: 10px;
        }
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <th>Welcome to Shopit, <%=Fname%></th>
      </tr>
      <tr>
        <td>
          <p>Hi, <%=Fname%>,</p>
          <p>
            <img src="../Assests/e-commerce-.jpg" alt="Shopit Logo" />
          </p>
          <p>
            Thank you for signing up. <br />
            Enjoy shopping with us. We appreciate your wise decision to be part
            of us. <br />
            Get the best deals in town!!<br />
            Thank you.
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
