.table {
  width: 96%;
  border-collapse: collapse;
  align-content: center;
  align-items: center;
  margin: 10px 10px 0 10px;
  border-radius: 10px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;

  vertical-align: middle;
}

.table tr:nth-child(even) {
  background-color: #fff5b4;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #bea925;
  color: rgb(8, 8, 8);
}

.actions {
  display: flex;
  height: 60px;
  gap: 4px;
}
.actions > button {
  padding: 5px;
  width: 100%;
  height: 100%;
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.table td.actions i.fa-solid {
  font-size: 16px;
}
.table td.actions button:hover {
  background-color: #f2f2f2; /* Example hover background color */
}
.popup {
  background-color: #fff5b488;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
  gap: 20px;
}

.popup img {
  width: 70px;
  margin-top: -50px;
  border-radius: 50%;
}

.popup button {
  padding: 10px;
  background-color: #bea925;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
