<app-navbar> </app-navbar>

<section>
  <div class="account">
    <p>Sharon Cherotich</p>
    
  </div>
  <div class="profile">
    <form action="">
      <h1>Account Details</h1>

      <!-- FIRST NAME  -->
      <div class="inputs">
        <label for="fname"> First Name:</label> <br />
        <input type="text" placeholder="Enter first name" />
      </div>

      <!--LAST NAME  -->
      <div class="inputs">
        <label for="lname"> Last Name:</label> <br />
        <input type="text" placeholder="Enter your last name" />
      </div>

      <!-- ADDRESS   -->
      <div class="inputs">
        <label for="address"> Address:</label> <br />
        <input type="text" placeholder="eg P.O BOX 409- Ruiru " />
      </div>

      <!-- REGION  -->
      <div class="region">
        <div class="inputs">
          <label for="">Region:</label> <br />
          <input type="text" placeholder="Enter your town here" />
        </div>

        <!-- CITY  -->
        <div class="inputs">
          <label for="city"> City:</label> <br />
          <input type="text" placeholder="Enter your County here " />
        </div>
      </div>
    </form>
  </div>
</section>

<app-footer> </app-footer>
