<app-navbar> </app-navbar>

<section>
  <div class="account">
    <h1>Account details</h1>
    <hr />
    <p>Sharon Cherotich</p>
    <p>Email</p>
    <p>Phone Number</p>
    <p>Password</p>
  </div>

  <div class="profile">
    <form action="">
      <h1>Update Details</h1>

      <!-- FIRST NAME  -->
      <div class="inputs">
        <label for="fname"> First Name:</label> <br />
        <input type="text" placeholder="Enter first name" />
      </div>

      <!--LAST NAME  -->
      <div class="inputs">
        <label for="lname"> Last Name:</label> <br />
        <input type="text" placeholder="Enter your last name" />
      </div>

      <!-- ADDRESS   -->
      <div class="inputs">
        <label for="address"> Email:</label> <br />
        <input type="text" placeholder="example@gmail.com" />
      </div>

      <div class="inputs">
        <label for="">Phone Number:</label> <br />
        <input type="text" placeholder="Enter your phone number here" />
      </div>

      <button>UPDATE</button>
    </form>
  </div>
</section>

<app-footer> </app-footer>
