<section>
  <img src="../../../assets/Logo.png" alt="logo" />
  <hr />
  <div class="errors">
    <div class="success" *ngIf="success">{{ successMsg }}</div>
    <div class="error" *ngIf="error">{{ errorMsg }}</div>
  </div>
  <div class="content">
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
      <h1>Login</h1>
      <!-- EMAIL ADDRESS  -->
      <div class="input-div">
        <label for="email">Email :</label> <br />
        <input type="email" formControlName="email" data-cy="email-link" />
        <div
          *ngIf="
            loginForm.get('email')?.invalid &&
            loginForm.get('email')?.touched &&
            !loginForm.get('email')?.dirty
          "
          style="color: red"
        >
          Email is required
        </div>
        <div
          *ngIf="
            loginForm.get('email')?.invalid && loginForm.get('email')?.dirty
          "
          style="color: red"
        >
          Please enter a valid email address.
        </div>
      </div>

      <!-- PASSWORD -->
      <div class="input-div">
        <label for="password">Password :</label> <br />
        <input type="password" formControlName="password" data-cy="password-link" />
        <div
          *ngIf="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched &&
            !loginForm.get('password')?.dirty
          "
          style="color: red"
        >
          Password is required
        </div>
        <div
          *ngIf="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.dirty &&
            loginForm.get('password')?.touched
          "
          style="color: red"
        >
          Minimum characters is 8
        </div>
      </div>

      <!-- SUBMIT -->
      <div class="submit">
        <button type="submit" class="submit" data-cy="submit-btn">Login</button>
      </div>
    </form>
  </div>
  <p>Don't have an account? <a routerLink="/register"> Register here</a></p>
</section>
