
<section>
<img src="../../../assets/Logo.png" alt="logo" />
  <hr />
<div class="content">
  <form [formGroup]="loginForm" (ngSubmit)="(loginForm.value)">
    <h1>Login</h1>
    <!-- EMAIL ADDRESS  -->
    <div class="input-div">
      <label for="email">Email :</label> <br />
      <input type="email" formControlName="email" />
    </div>

    <!-- PASSWORD -->
    <div class="input-div">
      <label for="password">Password :</label> <br />
      <input type="password" formControlName="password" />
    </div>

    <!-- SUBMIT -->
    <div class="submit">
      <button type="submit">Login</button>
    </div>
  </form>
</div>
<p>Don't have an account? <a routerLink="/register">Register here</a></p>
</section>