<app-navbar> </app-navbar>
<section>
  <div class="cart">
    <h1>CART</h1>
    <hr />
    <div class="products-cart" *ngFor="let product of cartArr">
      <img src="{{ product.image }}" alt="" />
      <div class="product">
        <p>{{ product.productname }}</p>
        <p>{{ product.description }}</p>
        <div class="together">
          <div class="remove">
            <i class="fa-regular fa-trash-can"></i>
            <p class="remove" (click)="(deleteItemCart)">Remove</p>
          </div>
          <div class="quantity">
            <button (click)="quantity('min')"><strong>-</strong></button>
            <input
              class="inputbox"
              type="text"
              disabled
              value="{{ productquantity }}"
            />
            <button (click)="quantity('max')"><strong>+</strong></button>
          </div>
          <div class="price">{{ product.price }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="checkout">
    <h1>CART SUMMARY</h1>
    <hr />
    <div class="total">
      <p>Subtotal</p>
      <p>Kshs 34,000</p>
    </div>
    <hr />
    <button>CHECKOUT(Kshs 34,000)</button>
  </div>
</section>
