<div class="sidebar">
  <div class="Logo">
    <h1>Shopit</h1>
  </div>
  <div class="menu-container">
    <ul>
      <li>
        <a routerLink="/admin/dashboard"
          ><i class="fa-solid fa-gauge"></i> Dashboard</a
        >
      </li>
      <li>
        <a routerLink="/admin/products"
          ><i class="fa-solid fa-layer-group"></i> Products</a
        >
      </li>
      <li>
        <a routerLink="/admin/categories"
          ><i class="fa-solid fa-credit-card"></i> Categories</a
        >
      </li>
      <li>
        <a routerLink="/admin/orders"
          ><i class="fa-solid fa-bag-shopping"></i> Orders</a
        >
      </li>
      <li>
        <a routerLink="/admin/users"><i class="fa-solid fa-users"></i> Users</a>
      </li>
    </ul>
  </div>
  <ul class="actions">
    <li>
      <a routerLink="/admin/profile"
        ><i class="fa-solid fa-user"></i> Profile</a
      >
    </li>
    <li class="logout">
      <p routerLink="">
        <i class="fa-solid fa-power-off" style="color: red"></i> Logout
      </p>
    </li>
  </ul>
</div>
