.register {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-container {
  width: 40vw;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
}

.form-group {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 8px;
}

.input,
.select {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.input:focus,
.select:focus {
  outline: 2px solid #bfdbfe;
  outline-offset: 2px;
}

.error-message {
  margin-top: 3px;
  font-size: 0.875rem;
  color: #f87171;
}

.submit-button {
  width: 150px;
  max-width: 150px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #3b82f6;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: #cbd5e1;
  cursor: not-allowed;
}

.link {
  color: #3b82f6;
  cursor: pointer;
}

.link:hover {
  color: #2563eb;
}

.successmsg {
  text-align: center;
  font-size: 0.875rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.375rem;
  color: #22c55e;
  font-weight: bold;
  background-color: #d1fae5;
}
