<footer class="footer">
  <ul class="social-icon">
    <i
      class="fa-brands fa-facebook"
      style="color: #316ff6; font-size: 40px" 
    ></i>
    <i
      class="fa-brands fa-square-instagram"
      style="color: #d62976; font-size: 40px"
    ></i>
    <i class="fa-brands fa-twitter" style="color: #316ff6; font-size: 40px"></i>
  </ul>
  <ul class="menu">
    <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
    <li class="menu__item"><a class="menu__link" href="#">About</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>
  </ul>
  <p>&copy;2024 Shopit | All Rights Reserved</p>
</footer>
